

<div class="my-top-buttons col-md-12">
    <button type="button" class="btn btn-default allways-top" ng-click="dc.rotateDegree = dc.rotateDegree-90">left 90°</button>
    <button type="button" class="btn btn-default allways-top" ng-click="dc.newDomino()">NEW DOMINO</button>
    <button type="button" class="btn btn-default allways-top" ng-click="dc.rotateDegree = dc.rotateDegree+90">right 90°</button>
</div>

<div class="row">
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-12">

                    <!-- MAIN DOMINO -->
                    <div id="full-domino">
                        <div  ng-style="{transform: 'rotate(' + dc.rotateDegree + 'deg)', transition:  dc.maxRotateSpeed - dc.rotateSpeed + 'ms ease all' }">
                            <div ng-repeat="domino in dc.domino track by $index" class="main-square square-0" ng-click="dc.chooseParts($index)">
                                <div class="circle-container" ng-repeat="rows in domino ">
                                    <div class="square-container" ng-repeat="row in rows track by $index" ng-style="{width: dc.range, height: dc.range}">
                                        <div class="main-circle-container">
                                            <div class="main-circle" ng-style="{width: dc.range, height: dc.range, visibility: {{row}} === 1 ? 'visible' : 'hidden'}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

        <!-- RANGES -->
        <div>
            <div class="row">
                <div class="col-md-12">
                    <input id="ranger" type="range" min="{{dc.minRange}}" max="{{dc.maxRange}}" ng-model="dc.range" /> SIZE: {{dc.range}}
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input id="speed" type="range" min="{{dc.minRotateSpeed}}" max="{{dc.maxRotateSpeed}}" ng-model="dc.rotateSpeed"  /> SPEED: {{dc.rotateSpeed}}
                    <hr />
                </div>
            </div>
        </div>

    </div>


    <!-- DOMINOS TO CHOICE -->
    <div class="col-md-2">
        <div ng-repeat="domino in dc.dominos" class="square square-0" ng-click="dc.chooseParts($index)">
            <div class="circle-container" ng-repeat="rows in domino">
                <div class="square-container" ng-repeat="row in rows track by $index">
                    <div class="circle-container">
                        <div class="circle" id="id{{row}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>






