

<div class="my-top-buttons col-md-12">
    <button type="button" class="btn btn-default" ng-click="dc.rotateLeft()">left 90%</button>
    <button type="button" class="btn btn-default" ng-click="dc.newDomino()">NEW DOMINO</button>
    <button type="button" class="btn btn-default" ng-click="dc.rotateRight()">right 90%</button>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">

            <div id="full-domino"  >
            <!-- ng-style="{transition: '300ms ease all',  transform: 'rotate( {{dc.rotateDegree}}deg)'}" -->

                    <!-- high part -->
                    <div>
                        <div class="main-square square-0" >
                            <div class="square-container" ng-style="{width: dc.range, height: dc.raange}">
                                <div class="main-circle-container" >
                                    <div class="main-circle"   ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][0][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"   ng-style="{width: dc.range, height: dc.range , visibility: dc.domino[0][0][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"   ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][0][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                            <div class="square-container">
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][1][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][1][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][1][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                            <div class="square-container">
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][2][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][2][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[0][2][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bottom part -->
                    <div>
                        <div class="main-square ">
                            <div class="square-container">
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][0][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][0][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][0][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                            <div class="square-container">
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][1][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][1][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][1][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                            <div class="square-container">
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][2][0] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][2][1] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                                <div class="main-circle-container">
                                    <div class="main-circle"  ng-style="{width: dc.range, height: dc.range, visibility: dc.domino[1][2][2] === 1 ? 'visible' : 'hidden'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>



            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            
                <input id="ranger" type="range" min={{dc.minRange}} max={{dc.maxRange}} ng-model="dc.range" /> SIZE: {{dc.range}}
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            
                <input id="speed" type="range" min={{dc.minRotateSpeed}} max={{dc.maxRotateSpeed}} ng-model="dc.rotateSpeed"  /> SPEED: {{dc.rotateSpeed}}
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-click="dc.chooseParts(0)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- one-->
        <div ng-click="dc.chooseParts(1)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- two-->
        <div ng-click="dc.chooseParts(2)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- three-->
        <div ng-click="dc.chooseParts(3)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- four-->
        <div ng-click="dc.chooseParts(4)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- five-->
        <div ng-click="dc.chooseParts(5)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- six-->
        <div ng-click="dc.chooseParts(6)">
            <div class="square square-0">
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
                <div class="square-container">
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: hidden"></div>
                    </div>
                    <div class="circle-container">
                        <div class="circle" style="visibility: visible"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






