

.grid {
  width: 90%;
  height: 250px;
}


.square {
    display: table;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    text-align: center;
}
.square-0 {
    border-bottom: 1px solid #ccc;
}

.square-container {
    display: table-row;
    margin: 0 auto;
    height: 30px;
    width: 90px;
    vertical-align: middle;
}

.circle-container {
    display: table-cell;
    margin: 0 auto;
    height: 16px;
    width: 16px;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.main-circle-container {
    display: table-cell;
    margin: 0 auto;
    height: 46px;
    width: 46px;
    padding: 10px;
    vertical-align: middle;
}

.circle {
    width: 15px;
    height: 15px;
    background: black;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    margin: 0 auto;
}

.main-square {
    display: table;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #ccc;;
}

.main-circle {
    width: 45px;
    height: 45px;
    background: black;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    margin: 0 auto;
}

/*rotation*/
#full-domino {
	transition: 300ms ease all;
	transform: rotate(0deg);
    height: 600px;

}

#id0 {
    visibility: hidden
}
#id1 {
    visibility: visible
}

.allways-top {
    position: relative;
    z-index: 1000;
}

.my-top-buttons {
    margin: 10px;
}



